[package]
org = "example"
name = "orderprocessor"
version = "0.1.0"

[build-options]
observabilityIncluded = true

[[dependency]]
org="ballerinax"
name="java.jms"
version="1.2.0"
repository="local"

[[tool.persist]]
id = "generate-db-client"
targetModule = "orderprocessor.store"
options.datastore = "inmemory"
filePath = "persist/model.bal"

[[platform.java21.dependency]]
groupId = "io.ballerina.stdlib"
artifactId = "persist.inmemory-native"
version = "1.6.0"
