name: Deployment

on:
  release:
    types: [published]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    -  run: mvn clean install -pl !java.jms 
    -  run: cd java.jms
    - name: Ballerina Build
      uses: ballerina-platform/ballerina-action/@swan-lake-release
      with:
        args:
          build -a -c --sourceroot java.jms
      env: 
        JAVA_OPTS: -DBALLERINA_DEV_COMPILE_BALLERINA_ORG=true
    - name: Ballerina Push
      uses: ballerina-platform/ballerina-action/@master
      with:
        args: 
          push -a
      env:
        WORKING_DIR: ./java.jms
        BALLERINA_CENTRAL_ACCESS_TOKEN: ${{ secrets.BALLERINA_CENTRAL_ACCESS_TOKEN }}
